<section class="mt-5 d-flex justify-content-between ">
  <div class="side-image-container shadow-sm">
    <img [src]="sideImage" alt="Side Image" class="img-fluid w-100 h-100"/>
  </div>

  <div class="w-25 mx-auto d-flex flex-column gap-5 justify-content-center align-items-center">
    <div class="me-auto">
      <h2>Register in to Exclusive</h2>
      <span>Enter your derails below</span>

    </div>
    <form class="w-100" [formGroup]="registerForm">
      <div class="d-flex flex-column gap-5">
        <div class="position-relative w-100">
          <label class="w-100">
            <input
              type="email"
              name="email"
              class="empty-input w-100"
              formControlName="email"
              placeholder="Enter your email"
              autofocus
            />
          </label>

          <errors
            class="text-capitalize"
            [fieldName]="'email'"
            [hasErrors]="isNotValidField('email')"
            [errorMessages]="getFieldErrors('email')"
          />
          <div class="position-absolute  end-0 top-0 none {{ registerForm.get('email')?.invalid ? 'd-none' : 'd-block' }}">
            <i class="fa fa-check text-success"></i>
          </div>

        </div>

        <div class="position-relative">
          <input
            type="text"
            name="username"
            formControlName="username"
            class="empty-input w-100"
            placeholder="username"
          />
          <errors
            class="text-capitalize"
            [fieldName]="'username'"
            [hasErrors]="isNotValidField('username')"
            [errorMessages]="getFieldErrors('username')"
          />
          <div class="position-absolute  end-0 top-0 none {{ registerForm.get('username')?.invalid ? 'd-none' : 'd-block' }}">
            <i class="fa fa-check text-success"></i>
          </div>
        </div>

        <div class="position-relative">
          <input
            type="password"
            name="password"
            formControlName="password"
            class="empty-input w-100"
            placeholder="Password"
          />
          <errors
            class="text-capitalize"
            [fieldName]="'password'"
            [hasErrors]="isNotValidField('password')"
            [errorMessages]="getFieldErrors('password')"
          />
          <div class="position-absolute  end-0 top-0 none {{ registerForm.get('password')?.invalid ? 'd-none' : 'd-block' }}">
            <i class="fa fa-check text-success"></i>
          </div>
        </div>

        <div class="position-relative">
          <input
            type="password"
            name="confirmPassword"
            formControlName="confirmPassword"
            class="empty-input w-100"
            placeholder="Confirm password"
          />
          <errors
            class="text-capitalize"
            [fieldName]="'confirmPassword'"
            [hasErrors]="isNotValidField('confirmPassword')"
            [errorMessages]="getFieldErrors('confirmPassword')"
          />
          <div class="position-absolute  end-0 top-0 none {{ registerForm.get('confirmPassword')?.invalid ? 'd-none' : 'd-block' }}">
            <i class="fa fa-check text-success"></i>
          </div>
        </div>

      </div>
    </form>
    <div class="d-flex justify-content-between align-items-center w-100 mx-2">
      <btn  [disabled]="registerForm.invalid" [class]="'px-4 py-1'" >
        Register
      </btn>
      <a routerLink="/login" class="text-secondary">already has account?</a>
    </div>
  </div>
</section>
